/*
Color-lab: #f7b617
Color gris (footer): #2b2b2b
*/

*{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

a{
	color: #333;
}
a:hover{
	color: #333;
}

h3{
	font-weight: 600;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Navbar */
.navbar-default{
	background-color: white;
	border-color: white;
}

/* Hero Section */
#hero{
	color: white;
	background-image: url(../img/taxi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 90%;
	height: 100vh;
}

.reg-container{
	background-color: #f7b617;
	padding: 2em;
	margin-top: 10em;
}

.span-container{
	width: 100%;
	height: 1em;
	border-bottom: 1px solid white;
	text-align: center;
}
#hero span{
	background-color: #f7b617;
	padding: 0 5em;
}

#hero .btn-default{
	font-weight: 700;
	margin-top: 2em;
	margin-bottom: 1em;
}

/* Information Section */
#information{
	color: white;
	background-color: #f7b617;
	padding-top: 2em;
	padding-bottom: 2em;
}

.inf-container{
	border: 1px solid white;
	padding: 2em;
}

.inf-container div{
	padding: 1em;
}

.inf-container p{
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Drive Section */
#drive{
	color: white;
	background-image: url(../img/conduce.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 60%;
}

.drive-container{
	background-color: rgba(3,3,3,.4);
	padding: 4em 2em 10em 2em;
}

.drive-container h3{
	padding-top: 0;
	padding-bottom: 0;
}

#drive .btn-default{
	color: white;
	background-color: #f7b617;
	border-color: #f7b617;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Rate Section */
#rate{
	color: white;
	background-color: #f7b617;
	padding-top: 2em;
	padding-bottom: 4em;
}

#rate .form-control{
	background-color: #f7b617;
	border: 1px solid white;
}
#rate .form-control::placeholder{
	color: white;
}

#rate .btn-default{
	font-weight: 700;
	margin-top: 2em;
	margin-bottom: 1em;
}

.border-map{
	border: 1px solid white;
	padding: 1em;
}
.mapa{
	overflow: visible;
	height: 400px;
}

/* Footer */
#footer{
	color: white;
	background-color: #2b2b2b;
	padding-top: 2em;
	padding-bottom: 2em;
}

#footer img{
	padding-top: 1em;
	padding-bottom: 1em;
}

.list{
	padding-top: 2em;
	padding-bottom: 2em;
}

.border{
	border-bottom: 1px solid white;
}

#footer .list-unstyled li{
	padding-top: .5em;
	padding-bottom: .5em;
}
#footer .list-unstyled li a{
	color: white;
}
#footer .list-unstyled li a img{
	padding-top: 0;
	padding-bottom: 0;
}

.list-inline{
	padding-top: 18em;
}
.list-inline.xs{
	padding: 0;
}

.list-store{
	padding-top: 10em;
}

#footer i{
	color: white;
}

